node_modules
.env
.env.*
!.env.*.example
tmp
cache.sqlite
.cache.sqlite
.aider*
dist
out
output
.vectorize_cache
dowbloaded_images
test.zip
puppeteer_user_data
.idea
tsconfig.tsbuildinfo
packages/ai-brand-scraper/brand-assets/*
!packages/ai-brand-scraper/brand-assets/example/
!packages/ai-brand-scraper/brand-assets/example/**
